$primary: #275553;
$secondary: #F47648;
$white: #FFFFFF;
$black: #212121;
$dark-gray: #5A5A5A;
$gray: #BABABA;

$screen-sm: 575.98px;
$screen-md: 767.98px;
$screen-lg: 991.98px;
$screen-xl: 1219.98px;